<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css?v=1.0">
    <!-- End Bootstrap -->
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buy</title>
</head>
<body>
    <h1>Buy Form</h1>
    
    <!--  Form  -->
    <div class="container">
        <form>
            <div class="row">
                <div class="col-sm-2">Date:</div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id=date value="02-06-2020" name="date" disabled>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">Vendor:</div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id=date placeholder="vendor" name="vendor">
                </div>
            </div>
            
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-sm-1">
                    <h3 class="text-center">No.</h3>
                </div>
                <div class="col-sm-2">
                    <h3 class="text-center">Kode Barang</h3>
                </div>
                <div class="col-sm-3">
                    <h3 class="text-center">Nama Barang</h3>
                </div>
                <div class="col-sm-1">
                    <h3 class="text-center">Jumlah</h3>
                </div>
                <div class="col-sm-2">
                    <h3 class="text-center">Harga</h3>
                </div>
                <div class="col-sm-2">
                    <h3 class="text-center">Total Harga</h3>
                </div>
            </div>
            
            <div class="row">
              <div class="col-sm-1">
                <input type="text" class="form-control text-right" id="no" name="no1" value="1" disabled>
              </div>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="kodebarang" placeholder="Kode Barang" name="kode1">
              </div>
              <div class="col-sm-3">
                <input type="text" class="form-control" id="namabarang" placeholder="Nama Barang" name="nama1">
              </div>
              <div class="col-sm-1">
                <input type="text" class="form-control text-right" id="jumlah" placeholder="1" name="jumlah1">
              </div>
              <div class="col-sm-2">
                <input type="text" class="form-control text-right" id="harga" placeholder="0" name="harga1">
              </div>
              <div class="col-sm-2">
                <input type="text" class="form-control text-right" id="hargatotal1" name="hargatotal1">
              </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                  <input type="text" class="form-control text-right" id="no" name="no1" value="2" disabled>
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" id="kodebarang" placeholder="Kode Barang" name="kode1">
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="namabarang" placeholder="Nama Barang" name="nama1">
                </div>
                <div class="col-sm-1">
                  <input type="text" class="form-control text-right" id="jumlah" placeholder="1" name="jumlah1">
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control text-right" id="harga" placeholder="0" name="harga1">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control text-right" id="hargatotal1" name="hargatotal1">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-1">
                  <input type="text" class="form-control text-right" id="no" name="no1" value="3" disabled>
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" id="kodebarang" placeholder="Kode Barang" name="kode1">
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="namabarang" placeholder="Nama Barang" name="nama1">
                </div>
                <div class="col-sm-1">
                  <input type="text" class="form-control text-right" id="jumlah" placeholder="1" name="jumlah1">
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control text-right" id="harga" placeholder="0" name="harga1">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control text-right" id="hargatotal1" name="hargatotal1">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-1">
                  <input type="text" class="form-control text-right" id="no" name="no1" value="4" disabled>
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" id="kodebarang" placeholder="Kode Barang" name="kode1">
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="namabarang" placeholder="Nama Barang" name="nama1">
                </div>
                <div class="col-sm-1">
                  <input type="text" class="form-control text-right" id="jumlah" placeholder="1" name="jumlah1">
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control text-right" id="harga" placeholder="0" name="harga1">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control text-right" id="hargatotal1" name="hargatotal1">
                </div>
              </div>
        </form>

        <!-- end form -->
        
    </div>
    

    <!-- start javascript -->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
 <!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    
    
    <script src="js/script.js"></script>
    <!-- end javascript-->
</body>
</html>