<!doctype html>
<html id="home">
<div lang="en">

<head>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css?v=1.0">

  <title>Muhammad Anis</title>
</head>

<body>

  <!--  Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#home">Muhammad Anis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#about">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#company">Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#school">School and Certificates</a>
        </li>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </ul>
    </div>
    
  </nav>
  <!-- End Navbar -->

  <!-- Jumbotron -->
  <div class="jumbotron text-center">
    <img src="img/profile/1.png" class="rounded-circle">
    <h1>Muhammad Anis</h1>
    <p>Professional IT Consultant | Project Manager</p>
  </div>

  <!-- end jumbotron-->
  
  <!-- About -->
  <section class="about" id="about">
    <div class="container">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <h3 class="text-left">About</h3>
          <hr align="left">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
          <p>With Hardship there will be ease. Indeed, with hardship there will be ease. By time, indeed mankind is in loss. Except for those who believed and done righteous deeds and advised each other to truth and adviced each other to patience.</p>
          <p>Success is always come with pain. Managing time is the most important and maximize to use the time because it wil not be back</p>
        </div>
        <div class="col-sm-5">
          <p>I'm an IT Professional since year 2000. Starting my career as programmer and become project manager since 2006. Afterwards, I experienced to manage projects with world class technology companies</p>
          <p>It's always exciting to learn anything new. I have experienced to manage from IT system integration, Telecommunication infrastructure, Big Data and Cloud projects</p>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </section>
  <!-- end About -->

  <!-- Portfolio -->
  <!-- isi contoh2 website template yang bisa di buat -->
  <section class="portfolio" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <h3 class="text-left">Portfolio</h3>
          <hr align="left">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <p>Project Management, System Integration, Cloud, Datawarehouse, Customer Experience Management, Business Intelligence, Datawarehouse, Digital Transformation, End to End Telecommunication Industry</p>
        </div>

      </div>
    </div>
  </section>
  <!-- end Portfolio -->

  
  
  <!-- Company -->
  <section class="company" id="company">
    <div class="container">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <h3 class="text-left">Work Experiences</h3>
          <hr align="left">
          <ul>
            <li><a href="http://www.ibm.com>">IBM</a></li>
            <li><a href="http://www.ericsson.com>">Ericsson</a></li>
            <li><a href="http://www.nokia.com>">Nokia Siemens Networks (currently named Nokia)</a></li>
            <li>Jatis Solutions Ecom</li>
            <li>Mesrasoft Informatika</li>
            <li>Indo.com</li>
          </ul>
        </div>

      </div>
    </div>

  </section>
  
  <!-- End Company-->

  <!-- School -->
  <section class="school" id="school">
    <div class="container">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <h3 class="text-left">School and Certificates</h3>
          <hr align="left">
          <ul>
            <li><a href="http://cs.ui.ac.id>">University of Indonesia - Computer Science - Bachelor</a></li>
            <li><a href="http://www.pmi.org>">Project Management Institute - PMP</a></li>
            <li><a href="https://coursera.org/share/3f6bc8672a120f82ecab8221ccca8d00>">Google Cloud on Coursera - Cloud Engineering with Google Cloud</a></li>
            <li><a href="https://coursera.org/share/83b56791c66189ae10ee6f0bf01a8275>">Google Cloud on Coursera - Cloud Architecture with Google Cloud</a></li>
            <li><a href="https://www.youracclaim.com/badges/80812081-75be-4661-9660-5e9a027512c1/public_url">IBM - Hadoop Foundation Level 2</a></li>
            <li><a href="https://www.youracclaim.com/badges/0846b7d7-f2f0-423c-816e-086918e9bba4/public_url">IBM - Big Data Foundation Level 2</a></li>
            <li><a href="https://www.youracclaim.com/badges/9ba0eac5-babb-417f-a2a3-f51e7cdedb7f/public_url">IBM - Cognitive Practitioner</a></li>
            <li><a href="https://www.youracclaim.com/badges/fd6c2dfd-3eed-45df-abad-acc0062c4c4c/public_url">IBM - Enterprise Design Thinking Practitioner</a></li>
          </ul>
        </div>

      </div>
    </div>

  </section>

  <!-- End School -->



  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class="text-center"> @2020 | Muhammad Anis<a href="http://https://www.linkedin.com/in/anismuhammad/"> @linkedin</a></p>
        </div>
      </div>
    </div>
    
  </footer>


  
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"></script>
  <script src="js/bootstrap.min.js"></script>

  
  <script src="js/script.js"></script>
  <!-- end JavaScript -->
</body>
</html>